.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
    max-width: 1200px;
    
    
}
.b{
    box-shadow: 0 5px 5px rgba(0,0,0.05);
    margin:10px;
    border-radius: 5px;
}
.b img{
    border-radius: 5px;
    width:100%;
}
.b h4{
    margin:2px !important;
}
.link{
    text-decoration: none;
    color:black;
    
}